  DJANGO_SECRET_KEY=...                                                                                                     
  DJANGO_DEBUG=..                                                                                                                                     
  DB_NAME=...                                                                                                                                    
  DB_USER=barisb141                                                                                                                                  
  DB_PASSWORD=mbaris                            
  DB_HOST=dfdnaf
  DB_PORT=5432
  POSTGRES_DB=emedafadencyhub                                                                                                                                
  POSTGRES_USER=emergencyuserasdsad
  POSTGRES_PASSWORD=mfdjoadlasn 